td,th {
    text-overflow: ellipsis;
    overflow: hidden;
}


#roleSelector{
    height: 400px;
    margin-top: 50px;
    overflow: hidden;
    width: 300px;
}

option:checked{
    font-weight: bold
}