.right {
    float: right;
    margin-right: 20px;
}

#login,
#logout,
#listProcess,
#listWorkitems,
#listUsers,
.editUsers,
#addUser,
#listObjects,
#newobject,
#listForms,
strong,
#smallScreenBurger{
    cursor: pointer;
 
}

header {
    
    background-color: aquamarine;
    text-align: center;
    padding: 5px;
    height: 5vh;
    
}

#loading {
    background-color: blue;
    height: 1vh;
    opacity: 1;
    position: fixed;
    top:0;
}

#app{
    height: 95vh;
}

#pop-up{
    display: none;
    height: 100%;
    width: 100%;
}


.loading {
    -webkit-transition: background-color 0;
    transition: background-color 0;
    opacity: 0;
    -webkit-transition: opacity 0;
    transition: opacity 0;
    position: fixed;
    top:0;
}


.noresult {
    text-align: center;
    margin-top: 3em;
}



@media only screen and (max-width: 900px) {
    .bigScreenOptions {
        display: none;
    }
    .smallScreenOptions{
        display: none;

    }

    #smallScreenBurger{
        display: block;
    }

    .commentsDiv{
        width: 40%;
    }

    .smallScreen{
        display: none;
    }
}

@media only screen and (min-width: 900px) {
   .bigScreenOptions {
    display: block;

    }
    .smallScreenOptions{
        display: none;

    }
    #smallScreenBurger{
        display: none;
    }

    .commentsDiv{
        width: 30%;
    }
    .smallScreen{
        display:  table-cell;
    }

}

